body {
    font-family: 'David Libre', serif;
}

h1, h2 {
    font-family: 'Lobster Two', cursive;
}

#main {
    background-color:#FFFCF3;
    padding-bottom: 40px;  
}

#to_night_video, #to_day_video {
    max-height: 60vh;
    max-width: 100%;
}

#to_day_video, #night {
    display: none;
}

#night {
    max-height: 60vh;
}

